.references{
    display: inline-block; 
    margin: 1.5rem;
    
}
.cardsR{
width: 10rem;
height: 10rem;
border: 5px solid #5a5a5d;
justify-content: center;
align-items: center;

}
p{
   
    margin-left: 1rem;
    font-size: 1rem;
    color: black;
}