
.cards {
    display: inline-block; 
    margin: 1rem;
    
    
  }
  .card{
    display: flex;
    padding-top: 1rem;
    width: 18rem;
    height: 8rem; 
    background-color: #39a900; 
    border-radius: 1rem;
    overflow: hidden;
  }
.img4{
    width: 7rem;
    height: 6rem;
    margin: 1rem;
 
}
.card-content {
    flex: end;
    justify-content: center;
  }
  
  h3 {
    color: #ffff;
    font-size: 1.5rem;
  }
  
  p {
    margin-top: 0.6rem;
    font-size: 1.2rem;
    color: #ffff;
  }
  .cardA{
    color: black;
    font-size: .9rem;
    font-weight: 700;
    padding-top: 2rem;
  }


